<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" href="https://xionite.co/favicon.ico"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="theme-color" content="#000000"/>
        <meta name="description" content="Xionite - Advanced Deepfake Detection Technology"/>
        <link rel="apple-touch-icon" href="https://xionite.co/logo192.png"/>
        <link rel="manifest" href="https://xionite.co/manifest.json"/>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <title>Xionite - Deepfake Detection</title>

        <script>
            window.isAuthenticated = {{ 'true' if current_user.is_authenticated else 'false' }};
        </script>

        <script defer="defer" src="{{ url_for('static', filename='js/main.js') }}"></script>
        
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    </head>
    
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root"></div>
    </body>
</html>